.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    text-align: left;
}

.element1 {
    grid-column: 1/3;
    text-align: left;
    padding: 1.3rem 1rem;
    border-bottom: 1px solid #ccc;
    border-image: linear-gradient(90deg, transparent, #CCC, transparent) 1;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

    p::first-letter {
        color: orangered;
    }
}

.element2 {
    padding: 0.5rem;
    border-right: 1px solid #ccc;
    border-image: linear-gradient(#CCC, transparent) 1;
}

.element3 {
    padding: 0.5rem;
}

.badge {
    background-color: white;
    color: #AAA;
    border: 1px solid #AAA;
    border-radius: 2px;
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.15rem;
    text-align: center;
}